# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library/metadata/00/00000000000000004000000000000000
Library/guidmapper
*.dwlt
Library/metadata/00/00000000000000003000000000000000
Temp/UnityLockfile
*.txt
*.log
Library/ShaderCache/0/0640b9a36b927ffe72c686f0d3047c88.bin
*.bin
Library/metadata/cd/cd6e3b92a8428ab48bdac5b35a01ba41.info
*.info
Library/metadata/81/81cf76a654bcc2749b560a2f6beed0b0
Library/metadata/9f/9fd0771a0a0254a45aaac7b2bb02d5ad
Library/metadata/00/00000000000000003000000000000000
Library/metadata/00/00000000000000004000000000000000
*.log
OpenWasteland-csharp.sln
*.bakert
OpenWasteland.sln
Library/assetDatabase3
*.log
Library/metadata/00/00000000000000003000000000000000
*.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/metadata/00/00000000000000004000000000000000
Library/assetDatabase3
Library/assetDatabase3
*.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*.userprefs
Library/metadata/00/00000000000000003000000000000000
Temp/UnityTempFile-3130fa7d628d9854bbd2572a72cc9139
